[submodule "dpd/raylib"]
	path = dpd/raylib
	url = https://github.com/iikare/raylib.git
[submodule "dpd/mupdf"]
	path = dpd/mupdf
	url = https://github.com/ArtifexSoftware/mupdf
[submodule "dpd/osdialog"]
	path = dpd/osdialog
	url = https://github.com/AndrewBelt/osdialog
